In [1]:
"cat".center(9,' ')

'   cat   '

In [2]:
"aman".count('a')

2

In [4]:
"how are you and what are you doing".count('are')

2

In [6]:
"fox".endswith('fox')

True

In [7]:
"{} is greater than {}".format(100,10)

'100 is greater than 10'

In [8]:
a = int(input('Enter 1 :'))
b = int(input('Enter 2 :'))
"sum is: {}".format(a+b)

Enter 1 :2
Enter 2 :2

'sum is: 4'

In [9]:
"you are sunny".title()

'You Are Sunny'

In [12]:
"you are sunny".translate(hindi)

NameError: name 'hindi' is not defined

#indexing=grabbing specific characters from any string
a='astronaut'
a[start:stop:step]

In [1]:
a='astronaut'
a[2:5:1]

'tro'

In [2]:
a[2::2]

'toat'

In [3]:
a[::-1]

'tuanortsa'

# list

list is defined using [] and elements are separated by, <br>
eg: l=[l,'cat',2.5] <br>
Note :list can have heterogeneous datatypes.
==> its ordered and mutable(changeable)

In [4]:
l=[1,2,3,4,'cat','dog']

In [5]:
type(l)

list

In [6]:
l[::-1]

['dog', 'cat', 4, 3, 2, 1]

In [7]:
l.append('lion')

In [8]:
l

[1, 2, 3, 4, 'cat', 'dog', 'lion']

In [9]:
L1=[1,2,3]
L2=[4,5,6]

In [10]:
L1.extend(L2)

In [11]:
L1

[1, 2, 3, 4, 5, 6]

In [12]:
L1.index(3)

2

In [13]:
L1.insert(2,'cat')

In [14]:
L1

[1, 2, 'cat', 3, 4, 5, 6]

In [15]:
L1.remove('cat')

In [16]:
L1

[1, 2, 3, 4, 5, 6]

In [17]:
print(L1)

[1, 2, 3, 4, 5, 6]

l.remove(obj)    removes obj from list <br>
l.pop(index)     removes the element at index and return the element

In [18]:
s=L1.pop(4)
print(s)

5

In [19]:
l=[3,45,12,64,13,20]

In [20]:
l.sort()
print(l)

[3, 12, 13, 20, 45, 64]

In [21]:
l.reverse()

In [22]:
l

[64, 45, 20, 13, 12, 3]

In [23]:
l.sort()

In [24]:
l.sort(reverse=True)
print(l)

[64, 45, 20, 13, 12, 3]

# Tuple : ()
ordered but immutable

In [25]:
l=[1,2,3]
t=tuple(l)
type(l)
print(t)

(1, 2, 3)

In [26]:
print(l)

[1, 2, 3]

In [27]:
list(t)

[1, 2, 3]

In [28]:
t

(1, 2, 3)

In [29]:
l[2]='lion'

In [30]:
l

[1, 2, 'lion']

In [31]:
t[2]='lion'

TypeError: 'tuple' object does not support item assignment

# Dictionary : {'key' : 'value' , 'key':'value' }

unordered, mutable, and has key and value pairs

In [32]:
d = {'a':1 , 'b':2, 'c':3}
d['a'] + d['b']

3

In [33]:
d

{'a': 1, 'b': 2, 'c': 3}

In [34]:
d[1]

KeyError: 1

In [35]:
type(d)

dict

# SETS : { }
set contain unique elements ,duplicates will b e clubbed together

In [38]:
s= {1,64,64,2,2,3,3,3,4,4,4,4,5,5,5,5,5,6,6,6,6,6,6,6,6,7,7,7,7,7,7,7}
print(s)

{64, 1, 2, 3, 4, 5, 6, 7}

In [39]:
s1={3,4,5}

In [41]:
s.issuperset(s1)

True

# Decision Making
1. if-else
2. nested if else
3. if-elif

syntax <br>

if condition:<br>
     statement 1<br>
     statement 2<br>
     statement 3<br>
     <br>
else:<br>
     statement 4<br>
     statement 5<br>
     statement 6<br>

In [42]:
n= int(input('enter any number: '))
if n%2==0:
    print('even')
else:
    print('odd')

enter any number: 13
odd

In [43]:
n= int(input('enter any number: '))
if n&1==0:
    print('even')
else:
    print('odd')

enter any number: 2
even

In [45]:
n= int(input('enter any number: '))
if n<0:
    print('negative')
elif n==0:
    print(0)
else:
    print('+ve')

enter any number: 0
0

# loops in python

# the For loop:

In [46]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i,end=',')

1,2,3,4,5,6,7,8,9,10,

# the while loop

In [48]:
i=0
while i<=100:
    print(i,end=',')
    i+=10

0,10,20,30,40,50,60,70,80,90,100,

In [64]:
n= int(input('enter any number: '))
t=n**2
r=0
while t!=0:
    r=(r*10)+((t%10))
    t=t//10
u=int(r**0.5)
r=0
while u!=0:
    r=(r*10)+((u%10))
    u=u//10

if r==n:
        print("adome")
else:
        print("not")

enter any number: 12
adome

In [59]:
n= int(input('enter any number: '))
t=str(n**2)

j=int(t[::-1])
u=int(j**0.5)
i=str(u)
l=int(i[::-1])
if l==n:
        print("adome")
else:
        print("not")

enter any number: 12
adome

In [60]:
n=10
while n<1000:
    t=str(n**2)
    j=int(t[::-1])
    u=int(j**0.5)
    i=str(u)
    l=int(i[::-1])
    if l==n:
        print(n)
    n=n+1

11
12
13
21
22
31
101
102
103
111
112
113
121
122
201
202
211
212
221
301
311